<?xml version="1.0"?>
<config>
    <modules>
        <Ares_Gspay>
            <version>0.1.0</version>
        </Ares_Gspay>
    </modules>
    <frontend>
        <routers>
            <gspay>
                <use>standard</use>
                <args>
                    <module>Ares_Gspay</module>
                    <frontName>gspay</frontName>
                </args>
            </gspay>
        </routers>
        <layout>
            <updates>
                <gspay>
                    <file>gspay.xml</file>
                </gspay>
            </updates>
     	</layout>
    </frontend> 
    <global>
        <models>
            <gspay>
                <class>Ares_Gspay_Model</class>
            </gspay>
            <sales>
                <rewrite>
					<order>Ares_Gspay_Model_Order</order>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <gspay>
                <class>Ares_Gspay_Block</class>
            </gspay>
        </blocks>
        <helpers>
            <gspay>
                <class>Ares_Gspay_Helper</class>
            </gspay>
        </helpers>
		<resources>
            <gspay_setup>
                <setup>
                    <module>Ares_Gspay</module>
					<class>Ares_Gspay_Model_Resource_Setup</class>
                </setup>
            </gspay_setup>
        </resources>
		<fieldsets>
			<sales_convert_quote>
				<gsordid><to_order>*</to_order></gsordid>
            </sales_convert_quote>
            <sales_convert_order>
				<gsordid><to_quote>*</to_quote></gsordid>               
            </sales_convert_order>
			<sales_convert_quote_payment>
				<current_bank>
                    <to_order_payment>*</to_order_payment>
                </current_bank>
			</sales_convert_quote_payment>
			<sales_convert_order_payment>
				<current_bank>
                    <to_quote_payment>*</to_quote_payment>
                </current_bank>
			</sales_convert_order_payment>
		</fieldsets>
    </global>
    <default>
        <payment>
            <gspay>
                <active>1</active>
                <sandbox>1</sandbox>
                <model>gspay/pay</model>
                <order_status>pending</order_status>
                <title>Gspay Payment Method</title>
				<gsmerid>5020001</gsmerid>
				<merid>808080071198021</merid>
				<logisticsid>808080071198022</logisticsid>
				<chinapay_pubkey>/var/key/thenatural/PgPubk.key</chinapay_pubkey>
				<chinapay_privkey>/var/key/thenatural/MerPrK_808080071198021_20160711103730.key</chinapay_privkey>
				<gs_pubkey>/var/key/sign/GS_Pubkey.key</gs_pubkey>
				<gs_privkey>/var/key/sign/GS_MerPrk_5020001.key</gs_privkey>
				<!--<timezone_setting>America/New_York</timezone_setting>-->
				<timezone>-05</timezone>
				<countryid>0001</countryid>
				<curyid>USD</curyid>
				<dstflag>0</dstflag>
				<plugin_version>v2.0.3</plugin_version>
				<version>20080515</version>
				<gateid>8613</gateid>
				<extflag>00</extflag>
            </gspay>
         </payment>
    </default>
</config>